@import url('https://fonts.googleapis.com/css2?family=Anton&family=Teko:wght@300..700&display=swap');


.App {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(77, 0, 109);
  color: white;
}

.App-header {
  text-align: center;
}

.banner {
  height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 2px 1px 6px rgb(108, 108, 108);
}

.youtube-video{
  transition: transform 0.3s ease;
  box-shadow: 1px 2px 8px rgba(255, 255, 255, 0.467);
}

.youtube-video:hover {
  transform: scale(1.04);
}

.content {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 50px 0;
}

h1,
h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 30px;
}

/* .home Row{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem 0 2rem;
}

.about Row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content Col{
  width: 100%;
}

.content .image{
  width: 550px;
  height: 350px;
  object-fit: cover;
  box-shadow: 1px 2px 8px rgba(255, 255, 255, 0.467);
  border-radius: 1rem;
}

Navbar {
  position: absolute;
}

Navbar Container{
  display: flex;
  justify-content: center;
  align-items: center;
}

Nav{
font-size: 1.7rem;
color: white;
}


.carousel-image{
  width: 100%;
  height: 700px; 
  object-fit: cover;
}


.cards .card {
  transition: transform 0.3s ease;
  border-radius: 1rem;
  box-shadow: 1px 3px 8px rgba(255, 255, 255, 0.467);
}

.cards .card:hover {
  transform: scale(1.04);
}


.cards img{
  width: 100%;
  height: 370px;
  /* height: 700px;  */
  object-fit: cover;
  border-top-right-radius: 1rem;
}


.quote-container {
  padding: 20px;
}

.blockquote {
  transition: transform 0.3s ease;
  box-shadow: 1px 3px 8px rgba(255, 255, 255, 0.467);
}

.blockquote:hover {
  transform: scale(1.04);
}

/* blockquote p {
  font-size: 1.2em;
}

blockquote footer {
  margin-top: 10px;
  font-size: 1em;
  text-align: right;
  color: #333;
} */

footer{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #00000098;
  padding: 3rem 0 1rem 0;
  margin-top: 2rem;
}

@keyframes upDownAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.ryan-glow {
  opacity: 0.8;
  position: absolute;
  bottom: -30px; 
  left: -70px; 
  width: 200px; 
  height: 400px; 
  background-image: url('./images/ryan-glow.png');
  background-size: cover;
  animation: upDownAnimation 2s infinite; 
}

.ryan-glow2 {
  opacity: 0.8;
  position: absolute;
  /* bottom: 230px;  */
  bottom: -30px; 
  right: -70px; 
  width: 220px; 
  height: 390px; 
  background-image: url('./images/ryan-glow2.png');
  background-size: cover;
  animation: upDownAnimation 2s infinite; 
}


